.games_view {
    height: 85%;
    padding: 1% 2%;
    margin: 64px;
    background: #FFFFFF;
    background-color: rgb(255, 255, 255, 0.6);
    border-radius: 30px;
}

.button_back {
    padding: 20px;
    margin-left: -20px;
    background: url('../../../assets/back_button.svg');
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info_window {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 100px;
    width: 240px;
    height: 120px;
    /* padding: 40px 70px; */
    background: #FFFFFF;
    border: 1px solid #B1DDFF;
    box-sizing: border-box;
    border-radius: 10px;
}

.info_numbers {
    font-family: 'Tw Cen MT';
    font-style: normal;
    color: #1D71B8;
    font-weight: 400;
    font-size: 48px;
}

.info_description {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #4295DE;
}

.container_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 330px;
}

.invite_link_text{
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 22px;
    color: #4295DE;
}

.invite_link {
    position: static;
    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #B1DDFF;
    border-radius: 10px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    align-items: center;
    letter-spacing: 0.04em;
    color: #8D8D8D;
}

.invite_link p{
    padding-left: 20px;
}