.rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.games {
  font-weight: 700px;
  font-size: 40px;
  line-height: 68px;
  letter-spacing: 0.1em;
  color: #1d71b8;
}

.container {
  margin-top: 20px;
  flex-wrap: wrap;
}

.default_game_card {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border: 1px solid #b1ddff;
  border-radius: 10px;
  margin-top: 1%;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
}

.default_game_card__title {
  height: 20%;
  font-weight: 400;
  font-size: 15px;
  line-height: 13px;
  text-align: center;
  color: #4295de;
}

.default_game_card__img {
  height: 80%;
  /* background-color: #ffa755; */
  border-radius: 15px;
  color: #ffffff;
  border: none;
  padding: 0.5% 1%;
  font-size: 24px;
  letter-spacing: 0.04em;
}

.ready_games__create_button {
  padding: 0.8% 1.5%;
  position: relative;
  left: -1%;
  text-decoration: none;
}
