.edit_game__form {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.edit_game__form_sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.edit_game__form_section {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.edit_game__form_input {
  padding: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 68px;
  letter-spacing: 0.04em;
  color: #1d71b8;
}

.inputs_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2%;
}

.titles_inputs {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: #4295de;
  margin: 1% 0;
}

.input_title_game {
  width: 90%;
  height: 3rem;
  padding: 0 12px;
  background: #ffffff;
  border: 1px solid #b1ddff;
  box-sizing: border-box;
  border-radius: 0.6rem;
  margin-top: 2%;
}

.date_zones {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

/* .send_date_zone {
  margin-left: auto;
} */

.input_date {
  height: 3rem;
  padding: 0 12px;
  background: #ffffff;
  border: 1px solid #b1ddff;
  box-sizing: border-box;
  border-radius: 0.6rem;
  color: black;
  margin-top: 3%;
}

.input_date:focus {
  color: #cbcbcb;
}

.recommended_cost_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 18%;
  padding: 3%;
}

.recommended_cost {
  width: 60%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: flex-start;
}

.title_recommended_cost {
  font-weight: 700;
  color: #4295de;
  margin-bottom: 2%;
}

.recommended_cost span {
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 22px;
  color: grey;
}

.switch {
  position: relative;
  margin-left: 2rem;
  top: 17px;
  min-width: 60px;
  max-height: 34px;
}

.switch input {
  opacity: 0;
}

.slider_round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider_round::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider_round {
  background-color: #ef8827;
}

input:focus + .slider_round {
  box-shadow: 0 0 1px #ef8827;
}

input:checked + .slider_round:before {
  transform: translate(26px);
}

.title_gift_cost {
  margin-bottom: 1%;
  font-weight: 700;
  color: #4295de;
}

.input_gift_cost {
  max-width: 50%;
  height: 3rem;
  padding: 12px;
  font-weight: 700;
  background: #ffffff;
  border: 1px solid #b1ddff;
  border-radius: 0.6rem;
  color: #4295de;
}

.select_currency {
  min-width: 15%;
  height: 3rem;
  font-weight: 700;
  margin-left: 1rem;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #b1ddff;
  border-radius: 0.6rem;
  color: #4295de;
}

.edit_game__buttons {
  margin: 0 10%;
  padding: 1% 3%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 991px) {
  .edit_game__form {
    padding: 0 2%;
  }

  .edit_game__form_input {
    min-width: 100%;
  }

  .input_title_game {
    font-size: 14px;
  }

  .input_gift_cost {
    /* font-size: 24px; */
    max-width: 65%;
  }

  .edit_game__buttons {
    margin-top: 10%;
  }
}

@media screen and (max-width: 479px) {
  .edit_game__form {
    padding: 0 0.5%;
  }

  .edit_game__form_sections {
    grid-template-columns: 1fr;
  }

  .edit_game__form_input {
    min-width: 100%;
    padding: 0.1rem 0.5rem;
  }

  .titles_inputs {
    font-size: 16px;
  }

  .input_title_game {
    width: 100%;
    height: 2rem;
    margin-top: 1%;
  }

  .input_date {
    width: 100%;
    height: 2rem;
    margin-top: 1%;
  }

  .title_recommended_cost {
    margin-top: 5%;
    font-size: 16px;
  }

  .recommended_cost {
    height: 90px;
  }

  .recommended_cost span {
    font-size: 11px;
    line-height: 11px;
  }

  .title_gift_cost {
    font-size: 16px;
    margin-bottom: 0.5%;
  }

  .input_gift_cost {
    height: 2rem;
    font-size: 20px;
  }

  .select_currency {
    padding: 9px;
    height: 2rem;
  }

  .edit_game__buttons {
    margin-top: 5%;
  }
}
