.title {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 68px;
  letter-spacing: 0.04em;
  color: #1d71b8;
}

.inputs_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10%;
  padding-top: 2%;
  margin: 0 10%;
}

.titles_inputs {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: #4295de;
  margin: 1% 0;
}

.input_title_game {
  width: 500px;
  height: 42px;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #b1ddff;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 1% 0;
}

.input_date {
  width: 250px;
  height: 42px;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #b1ddff;
  box-sizing: border-box;
  border-radius: 6px;
  color: black;
  margin: 3% 0;
}

.input_date:focus {
  color: #cbcbcb;
}

.recommended_cost_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 10%;
  padding: 3%;
}

.recommended_cost {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: flex-start;
}

.title_recommended_cost {
  font-weight: 700;
  color: #4295de;
  margin-bottom: 2%;
}

.recommended_cost span {
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 22px;
  color: grey;
}

.switch {
  position: relative;
  top: 17px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider_round::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider_round {
  background-color: #ef8827;
}

input:focus + .slider_round {
  box-shadow: 0 0 1px #ef8827;
}

input:checked + .slider_round:before {
  transform: translate(26px);
}

.gift_cost {
  margin: 0 220px;
}

.title_gift_cost {
  margin-bottom: 1%;
  font-weight: 700;
  color: #4295de;
}

.input_gift_cost {
  margin-left: 8%;
  width: 50%;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #b1ddff;
  border-radius: 6px;
}

.select_currency {
  width: 25%;
  margin: 0 8%;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #b1ddff;
  border-radius: 6px;
  color: #4295de;
}

.edit_game__buttons {
  margin: 0 10%;
  padding: 1% 3%;
  display: flex;
  justify-content: space-around;
}
