.designated_user_content {
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.designated_user_content_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 20%;
  width: 100%;
}

.designated_user_content_info_text {
  width: 100%;
}

.designated_user_content_info_text div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.designated_user_content_info_text div span {
  color: #4295de;
  font-size: 18px;
}

.designated_user_content_info__image {
  width: 20%;
}

@media screen and (max-width: 991px) {
  .designated_user_content_info_text div span {
    font-size: 14px !important;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .designated_user_content_info_text div span {
    font-size: 12px !important;
    text-align: center;
  }
}

/* @media screen and (orientation: landscape) {
  .designated_user_content_info_text div span {
    font-size: 14px !important;
    text-align: center;
  }

  .designated_user_content {
    margin: 0 7%;
    flex-direction: row;
    align-items: center;
  }

  .designated_user_content_info_text {
    width: 85%;
    height: 50%;
  }
} */
