.home_view {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../../assets/woman.png');
  background-repeat: no-repeat;
  background-position: right 10% center;
}

.home_view span {
  font-size: 5rem;
  padding: 5% 2%;
  text-transform: uppercase;
  font-weight: 600;
  filter: brightness();
  background: linear-gradient(90.98deg, #78bdee -11.86%, #1d71b8 110.95%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.04em;
}

.home_view span::before {
  content: 'Тайный';
  position: absolute;
  top: -40%;
  left: 5%;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.4px #999;
  font-size: 10rem;
  letter-spacing: 0.1em;
}

.home_view span::after {
  content: 'Санта';
  position: absolute;
  bottom: -40%;
  left: 5%;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.4px #999;
  font-size: 10rem;
  letter-spacing: 0.1em;
}

.home_view__btn_create,
.home_view__btn_games {
  padding: 0.6% 2% !important;
  font-size: 32px;
  text-decoration: none;
}

.home_view__btn_create {
  position: absolute;
  top: 85%;
  left: 10%;
}

.home_view__btn_games {
  position: absolute;
  top: 85%;
  left: 30%;
}

@media screen and (max-width: 991px) {
  .home_view {
    flex-direction: column;
    background-position: bottom 5% center;
    background-size: 60vh;
    text-align: center;
  }

  .home_view span {
    font-size: 7vw;
    position: relative;
    top: 3.5%;
  }

  .home_view span::before {
    font-size: 14vw;
    top: -50%;
    left: -3%;
  }

  .home_view span::after {
    font-size: 14vw;
    top: 60%;
    left: 8%;
  }

  .home_view__btn_create {
    top: 93%;
    left: 25%;

  }

  .home_view__btn_games {
    top: 93%;
    left: 60%;
  }
}

@media screen and (max-width: 479px) {
  .home_view {
    flex-direction: column;
    background-position: bottom 20% center;
    background-size: 55vh;
  }

  .home_view span {
    font-size: 10vw;
    top: 5%;
  }

  .home_view span::before {
    font-size: 20vw;
    top: -70%;
    left: -4.5%;
  }

  .home_view span::after {
    font-size: 20vw;
  }

  .home_view__btn_create {
    top: 90%;
    left: 10%;
  }

  .home_view__btn_games {
    top: 90%;
    left: 70%;
  }

  .home_view__btn_create,
  .home_view__btn_games {
    width: 100px;
  }
}