.games_view {
  height: 85%;
  padding: 1% 2%;
  margin: 64px;
  background: #ffffff;
  background-color: rgb(255, 255, 255, 0.6);
  border-radius: 30px;
}

.button_back {
  padding: 20px;
  margin-left: -20px;
  background: url('../../../assets/back_button.svg');
  background-repeat: no-repeat;
}

.find_member__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  height: 20%;
}

.info_window {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 0 50px;
  width: 300px;
  height: 120px;
  background: #ffffff;
  border: 1px solid #b1ddff;
  box-sizing: border-box;
  border-radius: 10px;
}

.info_numbers {
  font-family: 'Tw Cen MT';
  font-style: normal;
  color: #1d71b8;
  font-weight: 400;
  font-size: 46px;
  padding: 2%;
}

.info_description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #4295de;
}

.container_fullname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px;
  height: 20%;
}

.input_fullname {
  width: 850px;
  height: 40px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #000000;
  background: #ffffff;
  border: 1px solid #b1ddff;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
}

.container_members {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 100px);
  overflow-y: auto;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* flex-wrap: wrap; */
  gap: 2%;
  height: 60%;
}

@media screen and (max-width: 991px) {
  .default_game_card {
    width: 140px;
    height: 140px;
  }

  .default_game_card__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .default_game_card {
    max-width: 70px;
    max-height: 70px;
  }

  .default_game_card__title {
    font-size: 12px;
  }
}
