.main_view {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
  background-image: url('../../../assets/man.png');
  background-repeat: no-repeat;
  background-position: left 10% center;
}

.main_view__title {
  position: absolute;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 600;
  color: #ee7e21;
  user-select: none;
  /* filter: brightness(); */
  top: 40%;
  /* background-image: -webkit-gradient( linear, left center, right center, color-stop(0, #F7C655), color-stop(1, #EE7E21));
    /* background-image: gradient( linear, left center, right center, color-stop(0, #F7C655), color-stop(1, #EE7E21)); /
    color:transparent;
    -webkit-background-clip: text; */
}

.main_view__title::before {
  content: 'Тайный';
  position: absolute;
  top: -210%;
  right: 0;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.4px #999;
  text-stroke: 0.5px white;
  font-size: 10rem;
}

.main_view__title::after {
  content: 'Санта';
  position: absolute;
  bottom: -210%;
  right: 0;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.4px #999;
  text-stroke: 0.5px white;
  font-size: 10rem;
}

.main_view__info {
  bottom: 10%;
  width: 40%;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 77%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #1d71b8;
}

@media screen and (max-width: 991px) {
  .main_view {
    padding: 5% 0;
    align-items: center;
    /* justify-content: flex-start; */
    background-size: 55vh;
    background-position: bottom center;
  }

  .main_view__info_text {
    display: none;
  }

  .main_view__title {
    margin-top: 10%;
    position: relative;
    top: 0;
    font-size: 7vw;
  }

  .main_view__info {
    margin-top: 15%;
    position: relative;
    top: 0;
    width: 90%;
  }

  .main_view__title::before,
  .main_view__title::after {
    font-size: 10vw;
  }
  .main_view__title::before {
    top: -150%;
    left: -25%;
  }
  .main_view__title::after {
    bottom: -150%;
    right: -25%;
  }
}

@media screen and (max-width: 479px) {
  .main_view {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main_view__title {
    margin-top: 20%;
    margin-left: 2%;
    font-size: 10vw;
  }

  .main_view__title::before,
  .main_view__title::after {
    font-size: 20vw;
    margin-left: 1%;
    letter-spacing: 0.1em;
  }
  .main_view__title::before {
    top: -200%;
    left: -2%;
  }
  .main_view__title::after {
    bottom: -200%;
    left: -2%;
  }

  .default__btn {
    height: 30px;
    position: relative;
    right: -20px;
  }

  .accept {
    top: 20px;
  }
}

/* @media screen and (orientation: landscape) {
  .main_view {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: contain;
    background-position: left 2% center;
  }

  .main_view__title::before, .main_view__title::after {
    letter-spacing: 0.1em;
  }

  .main_view__title::before {
    top: -170%;
    left: -1%;
  }

  .main_view__title::after {
    bottom: -150%;
    right: -3%;
  }

  .main_view__title {
    position: relative;
    top: 30px;
    right: 15px;
    font-size: 6vw;
  }

  .default__btn {
    margin-right: 2%;
    width: 200px;
    height: 30px;
  }
} */
